$title: #191D21;
$navigation:#393939;
$font:'Nunito Sans',sans-serif;

%title-font {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color:#191D21;
}

.body {
  
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 407px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}